<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置springmvc-->
    <!-- 1、扫描controller的包-->
    <context:component-scan base-package="cn.wyedward">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--2、配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!--3、配置静态资源过滤-->

    <!-- 静态资源解析，包括js,css,img... -->
    <!--location:指location指定的目录不要拦截，直接请求，这里指在根目录下的resources文件下的所有文件
    mapping:值在resources文件下的所有文件(**代表所有文件)-->
    <mvc:resources location="/resources/" mapping="/resources/**"/>
   <!-- <mvc:resources location="/resources/css/" mapping="/resources/css/**" />
    <mvc:resources location="/resources/images/" mapping="/resources/images/**" />
    <mvc:resources location="/resources/js/" mapping="/resources/js/**" />-->

    <!--4、开启springmvc的注解-->
    <mvc:annotation-driven />
</beans>